<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70228089054-3dtpcnv937fuqin2ah2tlcdm3nidbtri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70228089054-3dtpcnv937fuqin2ah2tlcdm3nidbtri</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>70228089054-k3o21ofo66ajfguioud020u9shdcnchu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwWne_xFOIH2sLOz9HA9kF8UGXLZVXIc4</string>
	<key>GCM_SENDER_ID</key>
	<string>70228089054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.wiisportsresorts.madLibs</string>
	<key>PROJECT_ID</key>
	<string>flutter-mad-libs</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mad-libs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70228089054:ios:92c596e7f94248167d4a4f</string>
</dict>
</plist>